# Node modules
apps/web-app/node_modules/
**/node_modules/

# Ignore locale JSON files in apps/web-app
apps/web-app/public/locales/*.json

# Build output
dist/
build/
**/dist/
**/build/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# IDE configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Yarn and npm lock files (if you are using only one package manager)
# yarn.lock
# package-lock.json

# Other common patterns
coverage/
*.tgz
